html,body{
	margin:0;
	padding:0;
	height:100%;
	font-size:12px;
	color:#73879C;
	background:#F7F7F7;
}

.padding-0{
	padding:0;
}

.btn{
	border-radius:0;
}

.alert{
	padding:5px 10px;
	margin-top:5px;
	border-radius:0;
	margin-bottom:0;
}
.btn a{
	color:inherit;
} 
a:hover{
	text-decoration:none;
}

.navbar-default{
	background: #3949ab;
    border-bottom: 1px solid #3949ab;
    margin-bottom: 10px;
    border-radius: 0;
}

.navbar-default .navbar-header a{
	    color: #FFF;
    font-size: 22px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	color:#FFF;
}

.margin-top-10{
	margin-top:10px;
}

.form-control{
	border-radius:0;
}


.tile-stats{
	position:relative;
	display:block;
	margin-bottom:12px;
	border:1px solid #E4E4E4;
	padding:10px;
	overflow:hidden;
	border-radius:5px;
	background:#FFF;
	transition:box-shadow .5s;
}

.tile-stats .tile-icon{
	text-align:center;
	
}

.tile-stats .tile-icon .svg-icon{
	width:100px;
	height:100px;
	margin:0 auto;
	fill:rgb(224,220,220);
}

.tile-stats .tile-icon .svg-icon svg{
	width:100%;
	height:100%;
}

.tile-stats h3{
	color:#BAB8B8;
}

.tile-stats p{
	display:block;
	text-overflow:ellipsis;
	overflow:hidden;
	height: 35px;
    line-height: 20px;
}

.tile-stats a{
	color:inherit;	
}

.tile-stats:hover{
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.custom-panel{
	position:relative;
	width:100%;
	margin-bottom:10px;
	padding:10px 17px;
	display:inline-block;
	border:1px solid #E6E9ED;
	background:#FFF;
}

.custom-panel .panel-title{
	border-bottom:2px solid #E6E9ED;
	padding:1px 5px 6px;
	margin-bottom:10px;
}

.custom-panel .panel-title h2{
	margin:5px 0 6px;
	float:left;
	display:block;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:no-wrap;
	font-size:18px;
	color:#73879C;
	max-width:200px;
}

.detail-view .svg-icon{
	display:block;
	max-width:100%;
	height:300px;
	width:300px;
	margin:0 auto;
}

.detail-view .svg-icon svg{
	width:100%;
	height:100%;
}

.btn{
	border-radius:0;
}

ul.color-picker{
	padding-left:0;
}

ul.color-picker li{
	list-style-type:none;
	height:40px;
	width:40px;
	margin:5px 2px;
	float:left;
	cursor:pointer;
	position:relative;
}

ul.color-picker li i{
	display:none;
}

ul.color-picker li.selected {
    border: 1px solid #333;
}

ul.color-picker li.selected i{
	    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #FFF;
    font-size: 14px;
}
@media(max-width:768px){
	.margin-xs-top-20{
		margin-top:20px;
	}
}