<div class="detail-view">
	<div class="row">
		<div class="col-xs-12">
			<div class="custom-panel">
				<div class="panel-title">
					<h2> {{category}} </h2>
					<div class="clearfix"></div>
				</div>
				<div class="ev-content">
					<div class="col-xs-12 col-sm-5">
						<div class="svg-icon" data-ng-if="category==='shirts'" data-ng-style="{'fill':product.color.value}">
							<svg class="icon">
							  <use xlink:href="#shirts" />
							</svg>
						</div>
						
						<div class="svg-icon" data-ng-if="category==='casual'" data-ng-style="{'fill':product.color.value}">
							<svg class="icon">
							  <use xlink:href="#casual" />
							</svg>
						
						</div>
						<div class="svg-icon" data-ng-if="category==='trousers'" data-ng-style="{'fill':product.color.value}">
							<svg class="icon">
							  <use xlink:href="#trousers" />
							</svg>
						</div>
						
						<div class="svg-icon" data-ng-if="category==='jeans'" data-ng-style="{'fill':product.color.value}">
							<svg class="icon">
							  <use xlink:href="#jeans" />
							</svg>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-sm-offset-1 form-horizontal margin-xs-top-20">
						<form role="form" name="inventorycConfigForm" data-ng-submit="inventorycConfigForm.$valid && addCombination()">
						<div class="form-group">
							<label class="control-label col-xs-12 col-sm-3" for="color"> Color </label>
							<div class="col-xs-11 col-sm-9">
								<color-Picker selected="product.color"></color-Picker>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-12 col-sm-3" for="size"> Size </label>
							<div class="col-xs-11 col-sm-9">
								<select class="form-control" name="size" id="size" data-ng-model="product.size" data-ng-options="size.value as size.value for size in config.size">
									<option value="">--Select a size--</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-12 col-sm-3" for="size">Type </label>
							<div class="col-xs-11 col-sm-9">
								<select class="form-control" name="type" id="type" data-ng-model="product.model" data-ng-options="model.value as model.value for model in config.model">
									<option value="">--Select a model--</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<!-- <div class="col-xs-11 col-sm-9">
								<span class="input-group-btn btn pull-right">
									<button type="submit" class="btn btn-primary">Add</button>
									<a ui-sref="home()"><button type="button" class="btn btn-primary">Done</button></a>
								</span>
							</div> -->
							<div class="col-xs-11 col-sm-12 text-right">
								<button type="submit" class="btn btn-primary">Add</button>
								<button type="button" class="btn btn-success"><a ui-sref="home">Done</a></button>
							</div>
							
						</div>
						</form>
						
						
						
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="combination in combinations">
							<div class="custom-panel">
								<div class="panel-title">
									<h2>{{combination.product}}</h2>
									<span class="delete" style="position:absolute;right:10px;top:10px;"><span class="glyphicon glyphicon-remove-circle" ng-click="removeCombination(combination)"></span></span>
									<div class="clearfix"></div>
								</div>
								<div class="ev-content">
									<div class="small-svg-icon" data-ng-style="{'fill':combination.color.value}">
										<svg class="icon" data-ng-if="combination.product==='shirts'">
										  <use xlink:href="#shirts" />
										</svg>
										<svg class="icon" data-ng-if="combination.product==='casual'">
										  <use xlink:href="#casual" />
										</svg>
										<svg class="icon" data-ng-if="combination.product==='trousers'">
										  <use xlink:href="#trousers" />
										</svg>
										<svg class="icon" data-ng-if="combination.product==='jeans'">
										  <use xlink:href="#jeans" />
										</svg>
									</div>
									<div class="info">
										<p>Size : {{combination.size}}</p>
										<p>Model : {{combination.model}}</p>
										<p>Color : {{combination.color.name}}</p>
									</div>
								</div>
							</div>
						</div>
	</div>

</div>