<div class="feedbackproductwise-view">
	<div class="row">
		<div class="col-xs-12">
			<div class="custom-panel">
				<div class="panel-title">
					<h2>{{category}}</h2>
					<div class="clearfix"></div>
				</div>
				<div class="ev-content">
					<div class="row">
						<div class="col-xs-12 col-sm-5">
							<div class="svg-icon">
								<svg class="icon" data-ng-if="category==='shirts'">
										  <use xlink:href="#shirts" />
										</svg>
								<svg class="icon" data-ng-if="category==='casual'">
										  <use xlink:href="#casual" />
										</svg>
								<svg class="icon" data-ng-if="category==='trousers'">
										  <use xlink:href="#trousers" />
										</svg>
								<svg class="icon" data-ng-if="category==='jeans'">
										  <use xlink:href="#jeans" />
										</svg>

							</div>
						</div>

					</div>
					<div class="row margin-top-10 form-horizontal">
						<div class="col-xs-12 col-sm-6 ">
							<div class="form-group">
								<label class="control-label col-xs-12 col-sm-3" for="model">Model
								</label>
								<div class="col-xs-11 col-sm-9">
									<select class="form-control" name="model" id="model"
										data-ng-model="selectedModel"
										ng-options="model for model in models" class="form-control"
										data-ng-change=changeModel()>
										<option value="" disabled="disabled">--Select a model--</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 ">
							<div class="form-group">
								<label class="control-label col-xs-12 col-sm-3" for="chart">Chart
								</label>
								<div class="col-xs-11 col-sm-9">
									<select class="form-control" name="chart" id="chart"
										data-ng-model="selectedChart" class="form-control"
										data-ng-change=changeChart()>
										<option value="PieChart">Pie Chart</option>
										<option value="ColumnChart">Column Chart</option>
										<option value="BarChart">Bar Chart</option>
									</select>
								</div>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-xs-12" data-ng-hide="!selectedModel">
							<div google-chart chart="myChartObject"
								style="height: 400px; width: 100%;"></div>
						</div>
					</div>
				</div>



			</div>
		</div>

	</div>

	<div class="row"></div>