<div class="row">

	<div class="form-group">
		<div class="col-xs-12   text-right"
			data-ng-show="combinations.length>0">

			<button type="button" class="btn btn-success">
				<a ui-sref="final">Go to Submit feedback</a>
			</button>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3">
		<div class="tile-stats">
			<div class="tile-icon">
				<div class="svg-icon">
					<svg class="icon">
							  <use xlink:href="#shirts" />
							</svg>
				</div>
			</div>
			<h3>
				<a ui-sref="details({'categoryId':'shirts'})">Shirts</a>
			</h3>
			<div class="tile-description">
				<p>Shirts for formal occasions and office wears.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<div class="tile-stats">
			<div class="tile-icon">
				<div class="svg-icon">
					<svg class="icon">
							  <use xlink:href="#casual" />
							</svg>
				</div>
			</div>
			<h3>
				<a ui-sref="details({'categoryId':'casual'})">Casual Shirts</a>
			</h3>
			<div class="tile-description">
				<p>Shirts for casual and party occasions.Try all the grrovin
					styles first with our awesome collection of casual shirts.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<div class="tile-stats">
			<div class="tile-icon">
				<div class="svg-icon">
					<svg class="icon">
							  <use xlink:href="#trousers" />
							</svg>
				</div>
			</div>
			<h3>
				<a ui-sref="details({'categoryId':'trousers'})">Formal Trousers</a>
			</h3>
			<div class="tile-description">
				<p>Formal trousers to get that premium look.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<div class="tile-stats">
			<div class="tile-icon">
				<div class="svg-icon">
					<svg class="icon">
							  <use xlink:href="#jeans" />
							</svg>
				</div>
			</div>
			<h3>
				<a ui-sref="details({'categoryId':'jeans'})">Jeans</a>
			</h3>
			<div class="tile-description">
				<p>Be young be awesome, with the erver green jeans in your
					wardrobe.</p>
			</div>
		</div>
	</div>
</div>
