<!DOCTYPE html>

<html lang="en">

<body style="padding:15px;font-size:12px;">
	<p> Hi $name,</p>
	
	<p> Thank you for your time for giving us your valuable feedback.We will get to you as soon as we get what you want. We are dedicated to provide you best customer experience.</p>
	<p style="color:blue;"> Look out for exciting offers from us like coupons and discounts. Keep shopping and visiting us.</p>
	
	<p>Regards,<br/>Neelam Garments</p>
</body>

</html>